def {{ step.name }}({%- for arg in step.input_names -%}
    {{ arg }}: {{ (step.input_types)[loop.index-1] }}
    {%- if loop.index < step.input_names|length -%},
    {%- endif -%}
    {%- endfor -%}):
{%- if not autosnapshot and step.ins|length == 0 and step.outs|length == 0 and step.source|length == 0 %}
    pass
{%- elif step.pps_names|length > 0 %}
    _kale_pipeline_parameters_block = '''
{%- for arg in step.pps_names %}
    {% if (step.pps_types)[loop.index-1] == 'str' %}{{ arg }} = "{}"{% else %}{{ arg }} = {}{% endif -%}
{%- endfor %}
    '''.format({{ step.pps_names|join(', ') }})
{% endif %}

{%- for package in step.packages %}
  import {{package|indent(4, True)}}
{% endfor %}

{%- for block in step.source %}
  {{block|indent(4, True)}}
{% endfor %}

{%- if step.outs|length > 0 %}
{%- endif %}

